body{
    padding:20px;
}
#startBtn{
    background: lightgreen;
    width:fit-content;
    padding:20px;
    border-radius: 10px;
    margin: 0px 0px 10px 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap:10px;
    cursor: pointer;
}
#startBtn:hover{
    transform: scale(1.1);
}
#players{
    border-collapse: collapse;
    margin-left:10px;
    display: none;
}
th,td,tr,table{
    border:1px solid black;
}
#main{
    display: flex;
    flex-direction: row;
    gap:10px
}
@media screen and (max-width:600px) {
    #main{
        flex-direction: column;
    }
}
.roll-dice{
    padding:50px;
}
.dice-anime{
    display: none;
}
#dice-output{
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}

[id^=row]{
    display: flex;
    flex-direction: row;
}
[id^=item]{
    width:50px;
    height: 50px;
    display: inline;
    background: #bfbf23;
    border:2px solid black;
    font-weight: 700;
}
[id^=item]:hover{
    scale: 1.3;
}

[id=row1]>[id^=item]:nth-child(2n+2){
    background: white;
}
[id=row2]>[id^=item]:nth-child(2n+1){
    background: white;
}
[id=row3]>[id^=item]:nth-child(2n+2){
    background: white;
}
[id=row4]>[id^=item]:nth-child(2n+1){
    background: white;
}
[id=row5]>[id^=item]:nth-child(2n+2){
    background: white;
}
[id=row6]>[id^=item]:nth-child(2n+1){
    background: white;
}
[id=row7]>[id^=item]:nth-child(2n+2){
    background: white;
}
[id=row8]>[id^=item]:nth-child(2n+1){
    background: white;
}
[id=row9]>[id^=item]:nth-child(2n+2){
    background: white;
}
[id=row10]>[id^=item]:nth-child(2n+1){
    background: white;
}

[id^=player-position]{
    color: red;
    background: yellow;
    padding: 2px;
    border: 1px solid red;
    border-radius: 50px;
}
.diceBtn{
    margin:5px;
    padding:10px;
    border-radius: 10px;
    background-color: white;
}